doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title= locals.title
        each cssFile in assets.css
            link(rel="stylesheet" href="#{cssFile}")
        script(type="text/javascript").
            window.AppLocals = !{JSON.stringify(locals)};
    body(ng-app="#{locals.angularAppName}")
        each jsFile in assets.js
            script(type="text/javascript" src="#{jsFile}")
        block content